 <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #ae1f23;">
    <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" style="color: white;"><img style="width: 90px; height: 70px;" src="../../assets/logo.png" alt="">-----------------------------------------˜”*°•𝙱𝚊𝚗𝚔 𝚘𝚏 𝙰𝚜𝚜𝚞𝚛𝚊𝚗𝚌𝚎•°*”˜-----------------------------------------</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/viewallcustomer" style="color: white;"><b>𝚅𝚒𝚎𝚠 𝙰𝚕𝚕 𝙲𝚞𝚜𝚝𝚘𝚖𝚎𝚛</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transferhistory" style="color: white;"><b>𝚃𝚛𝚊𝚗𝚜𝚏𝚎𝚛 𝙷𝚒𝚜𝚝𝚘𝚛𝚢</b></a>
        </li>
        
        <li class="nav-item dropdown">
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="viewallcustomer">View All Customer<span class="sr-only">(current)</span></a>
            <a class="dropdown-item" routerLink="transferhistory">Transfer History</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  </nav> 
