<div class="container-fluid">
<div class="row" style="background-color:white;" >

    <img  class="img-fluid" style="height: 90px;width: 150px;" src="../../assets/logo.png" alt="">
</div> 
</div>
<div style="background-color: #ae1f23;">
 <br>    
<div class="row">

    <img  class="img-fluid" style="height: 340px;width: 930px;margin-left: 200px;margin-top:-24px;" src="../../assets/main.png" alt="">
</div> 
</div>
    <div class="row" style="padding: 50px;">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="card m-2" routerLink="/viewallcustomer" style="width: 590px;height: 280px;">
                        <img class="img-thumbnail img-fluid" src="../../assets/banking_main.png" alt="" style="width: 590px;height: 280px;">
                        <button routerLink="/viewallcustomer" class="card-text btn btn-block" style="color: white;background-color: #ae1f23;"><b>𝚅𝚒𝚎𝚠 𝙰𝚕𝚕 𝙲𝚞𝚜𝚝𝚘𝚖𝚎𝚛</b></button>
                    </div> 
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" style=" margin-top: 28px;">
                    <div class="card m-2" routerLink="/transferhistory" style="width: 300px;">
                        <img class="img-thumbnail img-fluid" src="../../assets/VC.jpg" alt="">
                        <button routerLink="/transferhistory" class="btn btn-block"  style="color: white;background-color: #ae1f23;"><b>𝚃𝚛𝚊𝚗𝚜𝚏𝚎𝚛 𝙷𝚒𝚜𝚝𝚘𝚛𝚢</b></button>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>

<div class="card text-center" > 
    <div class="card-footer text-muted">
      <span> &copy;</span> 2021 | The Sparks Foundation | Basic Banking System | Shivang Bhargave 
    </div>
</div>
